main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(58, 58, 93);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
