.App {
  font-family: 'Montserrat', sans-serif;
  color: #f6f7f9;
  background-color: #22272f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  flex-direction: row;
}

.count {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3em;
  font-weight: bold;
  margin: 30px;
  background-color: #139eca;
}

.even {
  background-color: #e2510e;
}

.odd {
  background-color: rgb(13, 217, 47);
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  font-family: inherit;
  background-color: #f6f7f9;
}

button:hover {
  background-color: antiquewhite;
}

button:active {
  background-color: rgb(249, 207, 153);
}
